[submodule "themes/ananke"]
	path = themes/ananke
	url = git@github.com:theNewDynamic/gohugo-theme-ananke.git
[submodule "public"]
	path = public
	url = https://github.com/myrtenasty/HugoQuickStart.github.io.git
	branch = main
